<p>
  <b>Логин:</b>
  <%=h @user.login %>
</p>

<p>
  <b>Ник:</b>
  <%=h @user.nickname %>
</p>

<p>
  <b>Колличество входов:</b>
  <%=h @user.login_count %>
</p>

<p>
  <b>Последный запрос:</b>
  <%= l(@user.last_request_at, :format => :long) %>
</p>

<p>
  <b>Последный вход:</b>
  <%= l(@user.last_login_at, :format => :long) %>
</p>

<p>
  <b>Текущий вход:</b>
  <%= l(@user.current_login_at, :format => :long) %>
</p>

<p>
  <b>Последниый  ip входа:</b>
  <%=h @user.last_login_ip %>
</p>

<p>
  <b>Текущий ip вход:</b>
  <%=h @user.current_login_ip %>
</p>


<%= link_to 'Редактировать', edit_account_path %>