<div class="post">
  <h2 class="title"><%= h "#{@reliz.title}(#{@reliz.year_issue})" %></h2>
  <div class="entry">
    <p class="byline"><i>Добавил&nbsp;<%= @reliz.user.nickname unless @reliz.user.nil? %>&nbsp;<%= l(@reliz.created_at, :format => :long) %></i></p>
    <p></p>
    <table>
      <td>
        <%= @reliz.poster.nil? ? "Нет постера" : link_to(image_tag(@reliz.poster.poster(:main)), @reliz.poster.poster.url(:lightbox), {:rel => "lightbox"}) %>
      </td>
      <td>
        <ul class="post_text">
          <li><span>Категория:&nbsp;</span><%= @reliz.subcategory.category.title %></li>
          <li><span>Жанр:&nbsp;</span><%= @reliz.subcategory.title %></li>
          <li><span>Описание:</span> <%= @reliz.description %></li>
          <%= render :partial => "params_#{@reliz.category.name}" %>
        </ul>
      </td>
    </table>
  </div>
  <div class="meta">
    <% if @reliz.screenshots %>
      <div style="margin-top: 5px; text-align: center">
        <% @reliz.screenshots.each do |screen| %>
          <%= link_to(image_tag(screen.screenshot.url(:rectangle)), screen.screenshot.url(:lightbox) , :rel => "lightbox[roadtrip]") %>
        <% end %>
      </div>
    <% end %>
    <p class="links">
      <%= link_to_function "Скачать", "Effect.toggle('file_upload', 'appear'); return false;", :class => "permalink"  %> &nbsp;&nbsp;&bull;&nbsp;&nbsp;
    <ul id="file_upload" style="display: none">
      <% @reliz.file_relizs.find(:all, :order => "file_reliz_file_name").each do |file|  %>
        <li><%= link_to file.file_reliz_file_name, file.file_reliz.url  %></li>
      <% end %>
    </ul>
    </p>
  </div>
</div>