<li><span>Режиссер:</span> <%= h @reliz.params_form[:producer] unless @reliz.nil? %></li>
<li><span>Время воспроизвидения</span>: <%= h @reliz.params_form[:reproducing_time] unless @reliz.nil? %></li>
<li><span>Актеры</span>: <%= h @reliz.params_form[:actors] unless @reliz.nil? %></li>
<li><span>Качество:</span> <%= h @reliz.params_form[:quality] unless @reliz.nil? %></li>
<li><span>Формат:</span> <%= h @reliz.params_form[:format] unless @reliz.nil? %></li>
<li><span>Перевод:</span> <%= h @reliz.params_form[:translation] unless @reliz.nil? %></li>