<div class="post">
  <h2 class="title"><a href="#"><%= link_to("#{short_reliz.title}(#{short_reliz.year_issue})", reliz_path(short_reliz.id)) %></a></h2>
  <div class="entry">
    <p class="byline">
      <i>Категория:&nbsp;<%= short_reliz.subcategory.category.title %></i><br />
      <i>Жанр:&nbsp;<%= short_reliz.subcategory.title %></i><br />
      <i>Добавлен <%= l(short_reliz.created_at, :format => :long) %></i>
    </p>
    <p></p>
    <table>
      <td>
        <%= short_reliz.poster.nil? ? "Нет постера" : image_tag(short_reliz.poster.poster(:main)) %>
      </td>
      <td>
        <ul>
          <li><%= short_reliz.description %></li>
        </ul>
      </td>
    </table>
  </div>
  <div class="meta">
    <p class="links">
      <%= link_to "Подробнее", reliz_path(short_reliz.id), :class => "more" %>
    </p>
  </div>
</div>